# Preparing edge table to test

## Libraries

In [1]:
suppressMessages({
  library(here)
  library(readr)
  library(dplyr)
  library(tidyr)
  library(purrr)
  library(ggplot2)
})

## Edge table to test

This table has been modified from `edge_table_original` manually to match the GWAS data available:

In [2]:
edge_table_harmon <- read_tsv(here('data/edge_table_harmon.tsv'), show_col_types = FALSE)
head(edge_table_harmon)

  NODE1 CIS   NODE2
1 FG    FALSE AGRP
2 IFC   FALSE PON3
3 HDL   FALSE HMOX1
4 HDL   FALSE APOM
5 TG    FALSE APOM
6 TG    FALSE LDLR

## Gencode table

In [3]:
gencode <- read_tsv(
  paste0(
    '/Users/da1078co/Documents/Data/GENCODE/',
    'gencode.v47lift37.basic.annotation.gtf.gz'
  ),
  comment = '#',
  col_types = 'cccnn-c-c',
  col_names = c(
    'CHROM', 'source', 'gene_type',
    'start', 'end', 'strand', 'addinfo'
  )
) |>
  filter(gene_type == 'gene') |>
  select(-gene_type) |>
  mutate(
    CHROM = gsub('chr', '', CHROM),
    gene_id = gsub(
      '^gene_id \"([^\"]+)\";.*',
      '\\1',
      addinfo
    ),
    gene_type = gsub(
      '.*gene_type \"([^\"]+)\";.*',
      '\\1',
      addinfo
    ),
    gene_name = gsub(
      '.*gene_name \"([^\"]+)\";.*',
      '\\1',
      addinfo
    )
  ) |>
  select(-addinfo)
head(gencode)

  CHROM source start end   strand gene_id
1 1     HAVANA 10370 13118 +      ENSG00000308415.1_1
2 1     HAVANA 11121 24894 +      ENSG00000290825.2_2
3 1     HAVANA 12010 13670 +      ENSG00000223972.6_6
4 1     HAVANA 14356 30744 -      ENSG00000310526.1_1
5 1     HAVANA 14696 24886 -      ENSG00000227232.6_7
6 1     HAVANA 28589 31109 +      ENSG00000243485.6_13
  gene_type                          gene_name
1 lncRNA                             DDX11L2
2 lncRNA                             DDX11L16
3 transcribed_unprocessed_pseudogene DDX11L1
4 lncRNA                             WASH7P
5 transcribed_unprocessed_pseudogene WASH7P
6 lncRNA                             MIR1302-2HG

## Adding cis regions where needed

In [4]:
edge_table_totest <- edge_table_harmon |>
  mutate(NODE1J = ifelse(CIS, NODE1, NA)) |>
  left_join(gencode, by = join_by(NODE1J == gene_name)) |>
  select(-c(NODE1J, source, strand, gene_id, gene_type)) |>
  mutate(CHROM = as.numeric(CHROM))
head(edge_table_totest)
tail(edge_table_totest)

  NODE1 CIS   NODE2 CHROM start end
1 FG    FALSE AGRP  NA    NA    NA
2 IFC   FALSE PON3  NA    NA    NA
3 HDL   FALSE HMOX1 NA    NA    NA
4 HDL   FALSE APOM  NA    NA    NA
5 TG    FALSE APOM  NA    NA    NA
6 TG    FALSE LDLR  NA    NA    NA

  NODE1  CIS  NODE2       CHROM start     end
1 IGFBP2 TRUE LiverFat     2    217497551 217529159
2 FAM3C  TRUE HbA1c        7    120988932 121036418
3 KITLG  TRUE HDL         12     88886570  88974628
4 FGF21  TRUE LiverFat    19     49258781  49261590
5 TGM2   TRUE PancreasFat 20     36755787  36794980
6 MATN2  TRUE xinsdG30     8     98881068  99048952

## Saving

In [5]:
write_tsv(edge_table_totest, here('data/edge_table_totest.tsv'))